
services:
  nginx:
    container_name: nginx
    build:     
     context: ./requirements/nginx/.
     dockerfile: nginx.Dockerfile
    ports:
      - "433:433"
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - wordpress
    networks:
      - inception
    env_file: 
      - .env
    restart: always

  wordpress:
    container_name: wordpress
    build: 
      context: ./requirements/wordpress
      dockerfile: wordpress.Dockerfile
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - mariadb
    networks:
      - inception
    env_file: 
      - .env
    restart: always

  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
      dockerfile: mariadb.Dockerfile
    volumes:
      - md_data:/var/lib/mysql
    networks:
      - inception
    env_file: 
      - .env
    restart: always



volumes:
    md_data:
      name: md_data
      driver: local
      driver_opts:
        type: none
        device: /home/mo/data/md_data
        o: bind
    wp_data:
      name: wp_data
      driver: local
      driver_opts:
        type: none
        device: /home/mo/data/wp_data
        o: bind

networks: 
    inception:
      name: inception
