
services:

  nginx:
    container_name: nginx
    build: 
      context: requirements/nginx
      dockerfile: nginx.dockerfile
    env_file: .env
    ports:
      - 443:443
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - wordpress
      - static
    networks:
      - inception
    restart: always

  wordpress:
      container_name: wordpress
      build: 
        context: requirements/wordpress
        dockerfile: wordpress.dockerfile
      env_file: .env
      volumes:
        - wordpress:/var/www/html
      depends_on:
      - mariadb
      networks:
        - inception
      restart: always

  mariadb:
    container_name: mariadb
    build:
      context: requirements/mariadb
      dockerfile: mariadb.dockerfile
    env_file:
      - .env
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
    restart: always

  redis:
    container_name: redis
    build:
      context: requirements/bonus/redis
      dockerfile: redis.dockerfile
    env_file:
      - .env
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - wordpress
    networks:
      - inception
    restart: always

  ftp:
    container_name: ftp
    build: 
       context: requirements/bonus/ftp
       dockerfile: ftp.dockerfile
    env_file:
        - .env
    ports:
        - "21:21"
    volumes:
        - wordpress:/var/www/html
    depends_on:
      - wordpress
    networks:
      - inception
    restart: always

  adminer:
    container_name: adminer
    build:
      context: requirements/bonus/adminer
      dockerfile: adminer.dockerfile
    depends_on:
      - mariadb
    networks:
      - inception
    restart: always

  static:
    container_name: static
    build:
      context: requirements/bonus/static
      dockerfile: static_website.dockerfile
    networks:
      - inception
    restart: always

  prometheus:
    container_name: prometheus
    build:
      context: requirements/bonus/monitor/prometheus
      dockerfile: prometheus.dockerfile
    depends_on:
      - node-exporter
    env_file:
      - .env
    networks:
      - inception
    restart: always

  node-exporter:
    container_name: node-exporter
    build:
      context: requirements/bonus/monitor/node_exporter
      dockerfile: node_exporter.dockerfile
    networks:
      - inception
    restart: always

volumes:

  wordpress:
    name: wordpress
    driver: local 
    driver_opts: 
      type:   none
      device: ./data/wordpress
      o:  bind

  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      device: ./data/mariadb
      o: bind

networks:
  inception:
    name: inception
